---
import soloBg from '../assets/backgrounds/solo-bg.png';
import aventureBg from '../assets/backgrounds/aventure-bg.png';
import revisionBg from '../assets/backgrounds/revision-bg.png';
import '../styles/gamemode.css';
import '../styles/animations.css';

interface Props {
   mode: 'Solo' | 'Aventure' | 'Révision';
}

const { mode } = Astro.props;

const playLink = mode === 'Solo' ? '/jeu-solo' : 
               mode === 'Aventure' ? '/jeu-aventure' : 
               '/mode-revision';

const leftArrowLink = mode === 'Solo' ? '/revision' : 
                    mode === 'Aventure' ? '/' : 
                    '/aventure';

const rightArrowLink = mode === 'Solo' ? '/aventure' : 
                     mode === 'Aventure' ? '/revision' : 
                     '/';

const background = mode === 'Solo' ? soloBg : 
                  mode === 'Aventure' ? aventureBg :
                  revisionBg;
---

<div class="mode-container">
   <div class="mode">
        <a href={leftArrowLink} class="arrow left"></a>
       <div class="mode-display">
           <img src={background.src} alt="Background">
           <h2>{mode.toUpperCase()}</h2>
       </div>
       <a href={rightArrowLink} class="arrow right"></a>
   </div>

   <a href={playLink} class="play-button">JOUER</a>
   <button class="propose-button">PROPOSER UNE QUESTION</button>
</div>