---
import profileImageUrl from '../assets/fennec.png';
import '../styles/profil.css';

const currency = 300; 
const level = 12;
const xp = 512;
const maxXp = 1000;
const profileUrl = "/pageProfil";
---

<div class="profile-container">
    <div class="profile-info">
        <div class="currency">
            <span class="currency-amount">Monnaie : {currency.toLocaleString()} credits</span>
        </div>
        <div class="level-progress">
            <div class="level-text">Level {level} ({xp.toLocaleString()} / {maxXp.toLocaleString()} xp)</div>
                <div class="progress-bar">
                    <div class="progress" style={`width: ${(xp / maxXp) * 100}%;`}></div>
                </div>
        </div>
    </div>
    <a href={profileUrl} class="profile-image-link">
        <img src={profileImageUrl.src} alt="Photo de profil" class="profile-image" />
      </a>
</div>