---
import '../styles/profil.css';
import { getDefaultUserData } from '../js/profileData';

const userData = getDefaultUserData();
const maxXp = 1000;
const profileUrl = "/pageProfil";

const displayedXp = userData.xp_utilisateur % maxXp;
const progressPercentage = (displayedXp / maxXp) * 100;
---

<div class="profile-container">
    <div class="profile-info">
        <div>
            <span class="titre">[{userData.nom_titre}]</span>
            <span class="pseudo">{userData.pseudo_utilisateur}</span>
        </div>
        <div class="currency">
            <span class="currency-amount">Monnaie : {userData.monnaie_utilisateur.toLocaleString()} credits</span>
        </div>
        <div class="level-progress">
            <div class="level-text">Level {userData.lvl_utilisateur} ({displayedXp.toLocaleString()} / {maxXp.toLocaleString()} xp)</div>
            <div class="progress-bar">
                <div class="progress" style={`width: ${progressPercentage}%;`}></div>
            </div>
        </div>
    </div>
    <a href={profileUrl} class="profile-image-link">
        <img src={`${userData.url}`} alt="Photo de profil" class="profile-image" />
    </a>
</div>
<script src="../js/profileData.js"></script>